.container{
    background-color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.details{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.remember{
    display: flex;

}
.forgot{
    color: rgb(218, 12, 218)
}
.button_container{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.login_button{
    width: 260px;
    padding: 10px;
    border: none;
    margin: 5px;
    color: white;
    background-color: #817ffe;
    border-radius: 5px;
}
